body {
  background-color: grey;
}
.header1 {
  color: white;
  background: #444444;
  padding: 5px 5%;
  display: flex;
  align-items: center;
}
.searchbox {
  align-items: center;
  display: inline-flex;
  padding: 0 60px;
  }
.home {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.marketplace {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.groups {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.events {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.profile {
  display: flex;
  align-items: right;
  padding: 0 10px;
  border-radius:100px;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}
.left-sidebar {
  background:#444444;
  flex-basis:25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: 100vh;
}
.main-sidebar {
  flex-basis:47%
}
.right-sidebar {
  background:#444444;
  flex-basis:25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: 100vh;
}
